@import "libs/bundled-material.min.css.scss";

@mixin anchor($direction, $color) {
  width: 0; 
  height: 0; 
  position:absolute;

  @if $direction == "bottom" {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color;
  }
  
  @if $direction == "right" {
    border-left: 10px solid $color;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}


@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf");
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "Lato";
  font-weight:bold;
}

.hidden-soft {
  display:none;
}

html{
  background-color:#EBEBEB;
}

body{
  background-color:transparent;
}

#editor_app{
  background-color:transparent;
}

/* errors */
div.error_panel_body{
  padding:0.1em;
  color:#b94a48;
  font-weight:bold;
}

.field_with_errors {
/*  @extend .has-error; */
  
  
}

.editor_nav_bar{
  margin:0;
}

a.menu_button {
  padding:5px;
  margin:0;
}

#minimize_menu_nav{
  margin:0;
}

div.file_explorer{
  font-weight:normal;
  h3{
    padding:0.4em;
  }
  div.panel-title{
    padding:0.5em;
  }
  #refresh_file_explorer{
    float:right;
    padding:0 0.1em;
  }
}

div#editor_menu_container{
  display:inline;
  form a {
    color:white;
    font-style:italic;
  }
  a.autosave {
/*    display:none;*/
    i{
      font-size:90%;
      position:relative;
      top:5px;
      left:0;
    }
  }
  /*width:280px;*/
}

div.g_file_menu{
  display:inline-block;
  height:60px;
  width:100%;
  
  margin-top:0;
  
  div.panel{
    margin-bottom:5px;
  }
  
  div.panel-heading{
    padding:0;
  }
  
  h3.app_title{
    text-align:center;
    *{
      margin:0;
      padding:0;
      vertical-align:middle;
      text-align:center;
      font-family:courier;
      font-size:130%;
      display:inline-block;
      color:#d9534f;
    }
  }
  
  
  #fileTree{
    min-width:250px;
    overflow-y:auto;
    min-height:50px;
    max-height:300px;
  }
}

div.g_file_editor{
  height:100%;
  display:inline-block;
  
  div#editor{
    position:absolute;
    display:inline-block;
    font-size:1em;
    .ace_search.right {
      top:0;
      bottom:auto;
      /* force the font size since changing the size in the editor was changing this as well and messing up the search display */
      font-size:14px !important;
    }
    .ace_search_field {
      color:black;
    }
    /* Highlighted searches with a yellow background */
    .ace_selected-word, .ace_highlight-marker {
      background-color:rgba(255, 255, 0,0.6);
    }
  }
}

#editor_flash {
  position:fixed;
  display:none;
  padding:10px;
  background-color:#ffffff !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:350px;
  height:500px;
  top:inherit;
  bottom:80px;
  right:10px;
  z-index:900;
	
}

#show_full_flash {
  right:10px;
  bottom:10px;
  position:fixed;
  z-index:900;
}

#unread_flash_count {
  right:10px;
  bottom:50px;
  position:fixed;
  z-index:901;
  width:25px;
  height:25px;
  font-size:15px;
  padding:2px;
  font-weight:bold;
}

div.print_menu {
  padding:10px;
}

span.collaborators {
  display:inline-block;
  padding:20px 10px;
  * {
    margin-left:5px;
  }
}

#loading_overlay {
  background-color:black;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:fixed;
  z-index:1040;
}

h5.menu_header {
  font-size:115%;
  margin-left:10px;
  margin-right:30px;
  color:#3f51b5;
  border-bottom:2px solid #3f51b5;
}

h6.menu_header {
  font-size:95%;
  margin-left:10px;
  margin-right:30px;
  color:#3f51b5;
  border-bottom:2px solid #3f51b5;
}

#menu {
  min-height:60px;
  .navbar-brand {
    padding:5px 5px;
    height:60px;
  }
  .navbar-nav {
    li a{
      padding-top:20px;
    }
  }
  #file_title_form {
    margin-top:16px;
    
    input {
      height:28px;
    }

    a {
      vertical-align:bottom;
      padding-bottom:8px;
      padding-left:5px;
      font-size:110%;
    }
  }
  #expanded_menu {
    a.menu_back {
      position:absolute;
      top:10px;
      right:10px;
      z-index:100;
    }
    a.small.menu_back {
      width:30px;
      height:30px;
      padding-left:5px;
      padding-top:5px;
      font-size:20px;
    }
    a.for_menu_header.menu_back {
      @extend a.small.menu_back;
      top:5px;
      right:20px;
    }

    display:none;
    position:fixed;
    left:5px;
/*    background:#4db6ac;
    color:rgba(255,255,255,.84);*/
    min-width:200px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color:white;

    .options {
      color:black;
      padding:1em;

      .big_options_btn {
        display:block;
        width:100%;
      }

      hr {
        margin: 0.25em 0;
      }
    }

    .back_btn_padded {
      padding-right:56px !important;
    }


    ul.menu_list {
      @extend .list-group;
      margin:0;
      padding:0;

      li {
        @extend .list-group-item;
        padding:0 0;
        a {
          display:block;
          @extend .btn;
          @extend .btn-default;
          color:rgba(255, 255, 255, 0.84);
          text-align:left;
          margin:1px;;
        }
        /*
        a:hover:not(.btn-link):not(.btn-flat){
          color:rgba(255, 255, 255, 0.84);
        }
        */
      }
    }

    .themes {
      .btn-theme {
        padding:8px 10px;
        min-width:250px;
      }
      .btn-dummy {
        display:block;
        height:36px;
        padding:0;
        margin:0;
        color:white; 
        cursor:default;
      }
      .themes_back {
        position:absolute;
        top:30px;
        left:100px;
        z-index:100;
      }
    } 

    .syntaxes {
      ul {
        min-width:250px;
        min-height:250px;
      }
      .syntax_button.btn-primary {
        background-color:#3f51b5 !important;
        color:white !important;
      }
      .syntax_button.disabled {
        color:rgba(#000000, (26/100)) !important;
      }
    }

  }
  .menu_content {
    display:none;
  }


}

#editor {
  top:60px;
  left:0;
  right:0;
  bottom:0;
}


@media (min-width:768px){
  #menu #expanded_menu .options {
    width:700px;
  }
  .mobile-show {
    display:none;
  }
  .flash_notifications {
    .alert {
      position:relative;
      top:auto;
      left:0;
      bottom:0;

      .anchor {
        bottom:-10px;
        right: 17px;
        @include anchor(bottom, white)
      }
      .anchor-success {
        @include anchor(bottom, #4caf50)
      }
      .anchor-warning {
        @include anchor(bottom, #ff5722)
      }
      .anchor-danger {
        @include anchor(bottom, #f44336)
      }
    }
    position:fixed; 
    width:300px; 
    right:10px; 
    bottom:55px; 
    background-color:transparent; 
    z-index:900;
  }
  #editor_flash {
    .anchor {
      bottom:-10px;
      right: 17px;
      @include anchor(bottom, white)
    }
  }
}

@media (max-width:768px) {
  .non-mobile-show {
    display:none;
  }

  #current_user {
    display:none;
  }
  ul.navbar-nav {
    margin:0;
    li {
      float:left;
    }
  }
  #menu {
    .extended_menu {
      display:none;
    }

    #file_title_form {
      margin-left:10px;
      margin-top:0;
      margin-bottom:0;
      float:left;
    }
  }
  .themes {
    height:400px;
    overflow-y:scroll;
  }
  .flash_notifications {
    display:inline;
    position:fixed;
    left:10px;
    right:70px;
    bottom:10px; 
    height:40px;
    z-index:900;
    .alert {
      width:100%;
      height:100%;
      overflow:hidden;
      text-overflow:ellipsis !important;
    }
  }
  #editor_flash {
    width:80% !important;
    height:80% !important;
    top:inherit !important;
    bottom:10% !important;
    left:9%;
    right:9%;

    .anchor {
      display:none;
    }
  }
  #expanded_menu {
    overflow-y:scroll;
    position:relative;
    left:0;
    right:5px;
    bottom:5px;
  }

  #fileTree{
    max-height:inherit !important;

    li {
      font-size:14px;
      font-weight:bold;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left:35px;
      background-size:25px;
      background-position-x:5px;
      background-position-y:10px;
    }
  }
}

ul.favorites {
  hr {
    margin:0px;
  }
  li button {
    margin-left:7px;
  }
}

@media print {
  .print_hide {
    display:none;
  }
}

div#current_user{
  position:fixed;
  text-align:right;
	font-weight:normal;
  right:10px;
  top:5px;
  z-index:999;
  padding:5px;
}

.menu-togglebutton {
  margin-right:30px;
  label {
    font-weight:bold!important;
    width:100%;
  }
  input {
    margin-left:8px;
  }  
  span.toggle {
    position:absolute;
    right:10px;
    z-index:100;
  }
}

li a.btn-primary {
  @extend .btn-primary;
}

.option-toggle {
  .togglebutton {
    display:inline;
  }
  text-align:center;
}

.known-encoding-add-container {
  text-align:right;
}

.known-encoding-added {
  border-radius: 50%;
  padding: 10px;
}
