<!DOCTYPE html>
<html>
<head>
  <title>Anyfile Notepad</title>
  
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" type="text/css" href="/assets/application-[% APP_VERSION_ID %].min.css" media="all">

  <script type="text/javascript" src="/assets/application-[% APP_VERSION_ID %].min.js"></script>
  <script type="text/javascript" src="/ace.js/ace.js"></script>

  [% INCLUDE analytics.tt %]

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

  [% INCLUDE app.tt %]

  <script>
    function oauth_loaded(){
      application.controllers.google_oauth.init()
    }
  </script>

  <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=oauth_loaded"></script>

    <script>
      $(document).ready(function() {
          $.material.init();
      });
    </script>
</body>
</html>

