<!DOCTYPE html>
<html>
<head>
  <title>Anyfile Notepad</title>
  
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" type="text/css" href="/assets/application-[% APP_VERSION_ID %].min.css" media="all">

  <script type="text/javascript" src="/assets/application-[% APP_VERSION_ID %].min.js"></script>
  <script type="text/javascript" src="/ace.js/ace.js"></script>

  [% INCLUDE analytics.tt %]

  <!-- BEGIN section -->
  <script type="text/javascript" src="https://storage.googleapis.com/dbmtiqbxqoopp7t3s9lq/sdbmtiqbxqoopp7t3s9lq.js" async></script>
  <script type="text/javascript" src="https://storage.googleapis.com/dbmtiqbxqoopp7t3s9lq/vdbmtiqbxqoopp7t3s9lq.js"></script>

  <script>
      (function () {
          var gads = document.createElement('script');
          gads.async = true;
          gads.type = 'text/javascript';
          var useSSL = 'https:' == document.location.protocol;
          gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
          var node = document.getElementsByTagName('script')[0];
          node.parentNode.insertBefore(gads, node);
      })();

      googletag.cmd.push(function() {
          googletag.defineSlot('/61772569/dbmtiqbxqoopp7t3s9lq_anyfilenotepadsemaanca_160x600_1', [160, 600], 'banner-160x600-1').addService(googletag.pubads());
          googletag.pubads().collapseEmptyDivs(true);
          googletag.enableServices();
      });
  </script>
  <!-- END section -->


  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

  [% INCLUDE app.tt %]

  <script>
    function oauth_loaded(){
      application.controllers.google_oauth.init()
    }
  </script>

  <script src="https://accounts.google.com/gsi/client" onload="oauth_loaded()" async defer></script>

    <script>
      $(document).ready(function() {
          $.material.init();
      });
    </script>
</body>
</html>

