<!DOCTYPE html>
<html>
<head>
  <title>Anyfile Notepad</title>
  
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" type="text/css" href="/assets/application-[% APP_VERSION_ID %].min.css" media="all">

  <script type="text/javascript" src="/assets/application-[% APP_VERSION_ID %].min.js"></script>
  <script type="text/javascript" src="/ace.js/ace.js"></script>
  <script src="/ace.js/ext-language_tools.js"></script>

  [% INCLUDE analytics.tt %]

  <!-- BEGIN section -->
    <script src="//www.googletagservices.com/tag/js/gpt.js"></script>
    <script type="text/javascript" src="https://storage.googleapis.com/dbmtiqbxqoopp7t3s9lq/sdbmtiqbxqoopp7t3s9lq.js"></script>
    <script type="text/javascript" src="https://storage.googleapis.com/dbmtiqbxqoopp7t3s9lq/vdbmtiqbxqoopp7t3s9lq.js"></script>

    <script>

        googletag.cmd.push(function() {
            googletag.defineSlot('/61772569/dbmtiqbxqoopp7t3s9lq_anyfilenotepadsemaanca_160x600_1', [160, 600], 'banner-160x600-1').addService(googletag.pubads());
            googletag.pubads().collapseEmptyDivs(true);
            googletag.enableServices();
        });
    </script>
  <!-- END section -->


  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

  [% INCLUDE app.tt %]

  <script>
    window._gapi_loaded = false;
    function gsi_loaded(){
      if(!window._gapi_loaded) {
        window._gapi_loaded = true;
        application.controllers.google_oauth.init();
      }
    }
    function gapi_loaded(){
      gsi_loaded();
    }
  </script>

  <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=gapi_loaded"></script>
  <script src="https://accounts.google.com/gsi/client" onload="gsi_loaded()" async defer></script>

    <script>
      $(document).ready(function() {
          $.material.init();
      });
    </script>
</body>
</html>

