<div ng-repeat="error in errors">
  <p>{{ error }}</p>
</div>
<afn-input type="text" placeholder="something/somestuff" field-name="Type name" field-attr='type_name' ng-model-var="mime_type.type_name"></afn-input>
<afn-input type="text" field-name="Discovered by" field-attr='discovered_by' ng-model-var="mime_type.discovered_by"></afn-input>
<afn-input type="checkbox" field-name="Integrated" field-attr='integrated' ng-model-var="mime_type.integrated"></afn-input>
<afn-input type="submit"></afn-input>

