
<h3>Welcome to the administration menu</h3>
<ul>
  <li><%= link_to "Mime types", mime_types_path %></li>
  <li><%= link_to "Extensions", extensions_path %></li>
  <li><%= link_to "Syntaxes", syntaxes_path %></li>
</ul>
