<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>Give us feedback on our<br/><a href="<%= g_plus_url %>" target="_blank">Google+ community</a></p>
</div>