<% if object.errors.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      
      <h3 class="panel-title alert alert-danger"><%= t 'errors.template.header', :count => object.errors.count, :model => t("activerecord.models.#{object.class.to_s.downcase}") %></h3>
    </div>
    <div class="error_panel_body alert-warning panel-body">
      <div >
            <ul>
              <% object.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
      </div>
    </div>
    
  </div>
<% end %>