<script class="template-partial" data-partial-name="file_explorer" type="text/x-handlebars">
<div id="file_explorer_container">
  <div class="file_explorer panel panel-default ">
    <div class="panel-body" id="file_tree_panel" >
    <p class="flash_error" id="loading_error" style="display:none;">Your files couldn't load.<br/><a id="reauth_file_tree" href="#">Click here to reauthenticate.</a></p>
    <div id="fileTree" class="demo"></div>
    </div>
  </div>
</div>
</script>
