
<div id="current_user" class="alert alert-success">
  <div style="display:inline-block">
  <span id="user_details" style="display:none;">
      Logged in as
      <span data-bind-current_user="name"></span>
      <br>
      <a style="color:blue" id="switch_user_link" href="javascript:void(0)" onclick="javascript:oauth_controller.auth_with_user(undefined, true)">Switch user</a>
  </span>
  </div>
  <img data-bind-current_user="picture_url" style="float:right;margin:3px;width:35px;height:35px;" src="">
</div>
