<div class="form-group">
  <label for="{{iAttrs.fieldAttr}}" class="col-sm-2 control-label">{{iAttrs.fieldName}}</label>
  <div class="col-sm-10">
    <input type="text" ng-model="$parent.ngModelVar" class="form-control" id="{{iAttrs.fieldAttr}}" placeholder="{{iAttrs.placeholder}}" ng-if="iAttrs.type == 'text'"/>
    <input type="checkbox" ng-model="$parent.ngModelVar" class="form-control" id="{{iAttrs.fieldAttr}}" ng-if="iAttrs.type == 'checkbox'"/>
    <input type="submit" class="btn btn-primary" value="Save" ng-if="iAttrs.type == 'submit'"/>
  </div>
</div>
