<h3 class="alert alert-warning">IMPORTANT NOTICE : Please note that this application is currently in BETA. Expect a few bugs and latency. File any bugs or feature request on our <a href="https://plus.google.com/communities/109168786116242892967">Google+ page.</a></h3 >

<div class="row">
  <div class="col-md-4">
    <h4>What is Anyfile Notepad</h4>
    <p>Anyfile Notepad is a Google Drive compatible app that let's you open any type of files on Google Drive. To get started simply open a file using the open with function on Google Drive or use the built-in file explorer in Anyfile Notepad to open a file. You can also create new files from the create menu in Google Drive.</p>
    
    <h4>How to open any type of files</h4>
    <p>Right now we are building the mime types database. If you cannot open a file with Anyfile Notepad directly in Google Drive use the file explorer at the left on the editor window. This mime type will be automatically sent to the 'To be added mime types' page and will be integrated shortly after.</p>
    
    <h4>Creating files</h4>
    <p>Simply open the Anyfile Notepad app in your Chrome apps. Note that new files are created with the mime type 'text/plain'</p>
  </div>
    
  <div class="col-md-4">
    <h4>Usual disclaimers...</h4>
    <p>Please note that we cannot be responsible of any file corruption (not that i want it to happen) or anything destroying your files. This app will never send a destroy command to any of your files but note that non UTF-8 files can be corrupted when used with this app (don't worry the app will also warn you before doing it)</p>
    <p>Please note that this program doesn't directly support non UTF-8 encoded documents (like PDF) but it is still possible to open them BUT on they will be saved as UTF-8 so editing these files is highly unrecommended.</p>
    <p>Also note that this application doesn't use https between the app and you. Your files are not encrypted.</p>
    
    <h4>Future work</h4>
    <ul>
      <li>Make part of the mime types page publicly available.</li>
      <li>Syntax highlighting menu.</li>
      <li>Printing.</li>
      <li>Integration of ace.js fonctionnalities to customize the editor.</li>
      <li>Tons of other things that i can't think of now but that could be useful.</li>
      <li>Make this page look less like crap.</li>
    </ul>
  </div>
  
  <div class="col-md-4">
   <h4>Thanks to :</h4>
   <ul>
    <li><a href="http://rubyonrails.org/">Ruby on Rails</a> for the server side application</li>
    <li><a href="http://jquery.com/">JQuery</a> for the client side javascript helpers</li>
    <li><a href="http://ace.c9.io/">ace.js</a> for providing the editor on which this app is based</li>
    <li><a href="http://getbootstrap.com/">Bootstrap</a> for the CSS</li>
    <li><a href="http://glyphicons.com/">Glyphicons</a> for the... glyphicons</li>
    <li><a href="http://www.google.com">Google</a> for it's free Google Drive SDK</li>
    <li><a href="http://www.abeautifulsite.net/blog/2008/03/jquery-file-tree/">JQuery File Tree</a> for the file explorer</li>
   </ul>
  
  <h4>Useful infos : </h4>
  <p>Note that all the files that go through the app server will never be stored in a session or persistant database. They will only last for the time of the query. The only information that can be kept is the mime type of the file to help the integration with Google Drive</p>
  </div>
  
  
</div>
