<div class="mime_type panel panel-default">
  <div class="panel-body">
    <%= mime_type.type_name %>
    <span class="mime_type_discoved_date"></span>
    <span class="mime_type_discovered_by">Discovered <%= time_ago_in_words(mime_type.created_at) %> ago by <%=  mime_type.discovered_by %></span>
  </div>
</div>
