
<div class="mime_types_index">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Mime types pending integration with Google Drive UI</h3>
    </div>
    <div class="panel-body">
      <% if @not_integrated_mime_types.empty? %>
        There are currently no pending mime types for integration with Google Drive UI. Make us discover more mime types by opening files with the app built-in file explorer.
      <% else %>
        <% @not_integrated_mime_types.each do |mime_type| %>
          <%= render mime_type %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Mime types integrated with Google Drive UI</h3>
    </div>
    <div class="panel-body">
      <% @integrated_mime_types.each do |mime_type| %>
        <%= render mime_type %>
      <% end %>
    </div>
  </div>
</div>
