<table class="table mime_type-table">
  <tr>
    <td><h3>Details for {{object.__display_attr__}}</h3></td>
    <td></td>
  </tr>
  <tr ng-repeat="(key, value) in object" ng-if="key != '__relations__' && key != '__display_attr__' && !isRelationshipKey(key)">
    <td>{{key}}</td>
    <td>{{value}}</td>
  </tr>
  <tr ng-repeat="(key, value) in object" ng-if="isRelationshipKey(key)">
    <td>{{object.__relations__[key].model_name}}</td>
    <td><a href="{{relationshipURL('view', object.__relations__[key])}}">{{object.__relations__[key].__display_attr__}}</a></td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" ng-show="loggedIn()" ui-sref="edit{{model_name}}({id:object.id})">Edit</a>
</div>
