<!DOCTYPE html>
  <html data-ng-app="afnAdminApp">
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"/>
    <title>Anyfile Notepad Admin</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="MimeType">Anyfile Notepad Admin</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" auto-active>
            <li ng-class="{ active: (model_name == 'MimeType') }"><a ui-sref="MimeType">Mime types</a></li>
            <li><a ui-sref="Syntax">Syntaxes</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row top-buffer">
        <div class="col-xs-2" ng-controller="CRUDController">
          <label for="username">Username:</label>
          <input type="text" id="username" ng-model="username">
          <label for="password">Password:</label>
          <input type="password" id="password" ng-model="password">
          <button ng-click="login()">Login</button>
        </div>
        <div class="col-xs-8">
          <div ui-view></div> <!-- This is where our views will load -->
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/ngStorage.min.js"></script>
    <script type="text/javascript" src="js/angular-base64.min.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular-resource.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script>
  </body>
</html>
