<div class="modal fade" id="file_info_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">File info</h4>
      </div>
      <div class="modal-body">
        <p><b>File name : </b><span data-bind-file="title"></span></p>
        <p><b>Google Drive file id : </b><span data-bind-file="id"></span></p>
        <p><b>Google Drive folder id : </b><span data-bind-file="folder_id"></span></p>
        <p><b>Mime type : </b><span data-bind-file="mime_type"></span></p>
        <p><b>Device : </b><span><%= @device ? @device.name : 'Unknown' %></span></p>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

  
