<div class="modal fade" id="major_notice_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false" data-version="1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <h3>Welcome to Anyfile Notepad 3.0</h3>
      <p>This new version contains 2 main features</p>

      <h4>The main new features are : </h4>
      <ul>
        <li>Completely redesigned user interface.</li>
        <li>Collaborative mode (Start in File/Share)</li>
        <li><a href="/news">Click here to read more about these features</a></li>
      </ul>

      <h4 style="text-align:center" class="alert alert-warning"> If you encounter any bugs or have any question (or maybe want to say thank you), write a message on our Google+ community </h4>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="agree_major_notice">OK! Let's go</button>
      </div>
    </div>
  </div>
</div>


