<div class="modal fade" id="major_notice_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false" data-version="2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <h2>Welcome to Anyfile Notepad 4.0</h2>
      <h3>This version introduces Dropbox support !</h3>

      <h4>To get started :</h4>
      <ul>
        <li>Click 'File' -> 'Connect Dropbox'</li>
        <li>Login with your Dropbox credentials</li>
        <li>You can now create and open file from your Dropbox from the app.</li>
        <li><b>NOTE: Dropbox doesn't support opening a file directly from the Dropbox interface. Nothing I can do about it...</b></li>
      </ul>

      <h4 style="text-align:center" class="alert alert-warning"> If you encounter any bugs or have any question (or maybe want to say thank you), write a message on our Google+ community </h4>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="agree_major_notice">OK! Let's go</button>
      </div>
    </div>
  </div>
</div>


