<div class="modal fade" id="select_theme_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <% themes_list.each_slice(10).to_a.each do |theme_array| %>
            <div class="col-md-4">
              <div class="theme_choice_column btn-group-vertical">
                
                <% theme_array.each do |theme| %>
                  <a href="javascript:void(0);" class="btn btn-default" id='theme_<%=theme_name(theme)%>' onclick="javascript:editor_controller.select_theme('<%= theme_name(theme) %>')"><%= theme_display_name(theme) %></a>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#select_theme_modal">Close</button>
      </div>
    </div>
  </div>
</div>


