<div class="modal fade" id="v2_notice_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <h3>Welcome to Anyfile Notepad 2.0 alpha</h3>
      <p>First of all, if you're not ready to encounter a few bugs, get out of here now !</p>
      <p>This version contains major refactoring in order to speed up the app and introduce nice features that were requested</p>

      <h4>The currently implemented features for 2.0 are : </h4>
      <ul>
        <li>The refactoring of the client side (direct connection to Google) which makes the app more than 60% faster.</li>
        <li>No more reauthentication needed (unless you hit a bug)</li>
        <li>Autosaving</li>
        <li>Resizable menus</li>
        <li>No more file size limit</li>
      </ul>

      <h4>The remaining features to be added</h4>
      <ul>
        <li>Preferences in the cloud</li>
        <li>Refactoring of the theme selection</li>
        <li>More UI refactoring. (error messages, look and feel)
      </ul>

      <p>You can always go back to the normal app even if you accept this. This alpha app is integrated with Drive's UI also. It will appear as 'Anyfile Notepad 2 - alpha'</p>

      <h4 style="text-align:center" class="alert alert-warning"> Again, this is not fully ready for usage and if you want a bug free experience, then continue using the stable version of Anyfile Notepad </h4>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="disagree_v2_notice">Get me out of here !</button>
        <button type="button" class="btn btn-primary" id="agree_v2_notice">OK! Let's go</button>
      </div>
    </div>
  </div>
</div>


