@import "bootstrap";

@media print {
  .print_hide {
    display:none;
  }
}

.flash_notice{
  @extend .alert;
  @extend .alert-info;
  @extend .alert-dismissable;
}

.flash_warn{
  @extend .alert;
  @extend .alert-warning;
  @extend .alert-dismissable;
}

.flash_error{
  @extend .alert;
  @extend .alert-danger;
  @extend .alert-dismissable;
}

.round {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.launch_app_container{
  padding-top:0.5em;
}

.header_menu{
  margin-top:50px;
}

.footer_menu{
  text-align:center;
  
  a{
    @extend .btn;
    @extend .btn-primary;
    
  }
  
  .row{
    margin:0.2em;
  }
}

.icon-rotated {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

/* user stuff */

div#current_user{
  position:fixed;
  text-align:right;
  font-style:italic;
  right:10px;
  top:5px;
  z-index:999;
  padding:5px;
}


