@import "bootstrap";
@import "common.css.scss";

html{
  background-color:#EBEBEB;
}

body{
  background-color:transparent;
}

#editor_app{
  background-color:transparent;
}

/* errors */
div.error_panel_body{
  padding:0.1em;
  color:#b94a48;
  font-weight:bold;
}

.field_with_errors {
  @extend .has-error;
  
  
}

.editor_nav_bar{
  margin:0;
}

#minimize_menu_nav{
  margin:0;
}

div.file_explorer{
  h3{
    padding:0.4em;
  }
  div.panel-title{
    padding:0.5em;
  }
  #refresh_file_explorer{
    float:right;
    padding:0 0.1em;
  }
}

div#editor_menu_container{
  display:inline-block;
  width:280px;
}

div.g_file_menu{
  display:inline-block;
  height:100%;
  width:100%;
  padding:0.7em;;
  
  margin-top:0;
  
  div.panel{
    margin-bottom:5px;
  }
  
  div.panel-heading{
    padding:0;
  }
  
  h3.app_title{
    text-align:center;
    *{
      margin:0;
      padding:0;
      vertical-align:middle;
      text-align:center;
      font-family:courier;
      font-size:130%;
      display:inline-block;
      color:#d9534f;
    }
  }
  
  
  div.file_title{
    padding-bottom:5px;
  }
  
  div.g_file_editor_file_explorer{
    
    #fileTree{
      overflow-y:auto;
      min-height:50px;
    }
    
    #open_file_explorer_title{
      @include border-radius(5px);
      color:white;
    }
  }
  

}

div.small_g_file_menu{
  width:30px;
  padding:7px 0;
  display:inline-block;
  text-align:center;
  border-right:2px solid black;
  border-bottom:2px solid black;
  @include border-radius(5px);
  span{
    margin-top:2px;
    padding:3px;
    @extend .btn;
    @extend .btn-default;
    cursor:pointer;
  }
}

div.g_file_editor{
  height:100%;
  display:inline-block;
  
  div#editor{
    position:absolute;
    display:inline-block;
    font-size:1em;
  }
}

div#select_theme_modal{
  .modal-dialog{
    //width:650px;
    text-align:center;
    position:fixed;
    left:0;
    bottom:0;
  }
  .modal-body{
    padding:0;
  }
  .modal-footer{
    padding:0;
  }
  
  .row{
    margin:0;
  }
  
  .col-md-4{
    padding:0;
  }
}

div.theme_choice_column{
  width:100%;
}


div#editor_flash{
  position:fixed; 
  width:300px; 
  right:10px; 
  top:10px; 
  background-color:transparent; 
  z-index:1000;
}

div.print_menu {
  padding:10px;
}
