@import "libs/material.min.css.scss";

html{
  background-color:#EBEBEB;
}

body{
  background-color:transparent;
}

#editor_app{
  background-color:transparent;
}

/* errors */
div.error_panel_body{
  padding:0.1em;
  color:#b94a48;
  font-weight:bold;
}

.field_with_errors {
/*  @extend .has-error; */
  
  
}

.editor_nav_bar{
  margin:0;
}

a.menu_button {
  padding:5px;
  margin:0;
}


#minimize_menu_nav{
  margin:0;
}

div.file_explorer{
  h3{
    padding:0.4em;
  }
  div.panel-title{
    padding:0.5em;
  }
  #refresh_file_explorer{
    float:right;
    padding:0 0.1em;
  }
}

div#editor_menu_container{
  display:inline;
  /*width:280px;*/
}

div.g_file_menu{
  display:inline-block;
  height:100%;
  width:100%;
  
  margin-top:0;
  
  div.panel{
    margin-bottom:5px;
  }
  
  div.panel-heading{
    padding:0;
  }
  
  h3.app_title{
    text-align:center;
    *{
      margin:0;
      padding:0;
      vertical-align:middle;
      text-align:center;
      font-family:courier;
      font-size:130%;
      display:inline-block;
      color:#d9534f;
    }
  }
  
  
  div.file_title{
    padding-bottom:5px;
  }
  
  div.g_file_editor_file_explorer{
    
    #fileTree{
      overflow-y:auto;
      min-height:50px;
    }
    
    #open_file_explorer_title{
      color:white;
    }
  }
  

}

div.small_g_file_menu{
  width:30px;
  padding:7px 0;
  display:inline-block;
  text-align:center;
  border-right:2px solid black;
  border-bottom:2px solid black;
  span{
    margin-top:2px;
    padding:3px;
    @extend .btn;
    @extend .btn-default;
    cursor:pointer;
  }
}

div.g_file_editor{
  height:100%;
  display:inline-block;
  
  div#editor{
    position:absolute;
    display:inline-block;
    font-size:1em;
  }
}

div#select_theme_modal{
  .modal-dialog{
    //width:650px;
    text-align:center;
    position:fixed;
    left:0;
    bottom:0;
  }
  .modal-body{
    padding:0;
  }
  .modal-footer{
    padding:0;
  }
  
  .row{
    margin:0;
  }
  
  .col-md-4{
    padding:0;
  }
}

div.theme_choice_column{
  width:100%;
}


div#editor_flash{
  position:fixed; 
  width:300px; 
  right:10px; 
  top:65px; 
  background-color:transparent; 
  z-index:1000;
}

div.print_menu {
  padding:10px;
}

div.collaborators_container {
  .panel-heading {
    text-align:center;
  }

  .panel-body {
    padding:0.3em;
  }

  .panel-body * {
    margin:0.5em;
  }
}

#menu {
  #expanded_menu {
    display:none;
    position:fixed;
    left:5px;
/*    background:#4db6ac;
    color:rgba(255,255,255,.84);*/
    min-width:200px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color:white;

    .options {
      color:black;
      padding:1em;
      width:700px;
    }

    ul.menu_list {
      @extend .list-group;
      margin:0;
      padding:0;

      li {
        @extend .list-group-item;
        padding:0 0;
        a {
          display:block;
          @extend .btn;
          @extend .btn-default;
          color:rgba(255, 255, 255, 0.84);
          text-align:left;
          margin:1px;;
        }
        /*
        a:hover:not(.btn-link):not(.btn-flat){
          color:rgba(255, 255, 255, 0.84);
        }
        */
      }
    }

    .themes {
      .btn_theme {
        padding:8px 10px;
        min-width:250px;
      }
      .btn-dummy {
        display:block;
        height:36px;
        padding:0;
        margin:0;
        color:white; 
        cursor:default;
      }
      .themes_back {
        position:absolute;
        top:30px;
        left:100px;
        z-index:100;
      }
    } 

    .syntaxes {
      ul {
        min-width:250px;
        min-height:250px;
      }
      a.menu_back {
        position:absolute;
        top:10px;
        right:10px;
        z-index:100;

      }
    }

  }
  .menu_content {
    display:none;
  }


}

#editor {
  top:60px;
  left:0;
  right:0;
  bottom:0;
}
