
div.mime_types_index{
  h3{
    font-size:120%;
  }
  font-size:110%;
  
  span.mime_type_discoved_date{
    font-style:italic;
    font-size:90%;
  }
  
  span.mime_type_discovered_by{
    display:block;
    font-size:70%;
  }

  div.integrated{
    text-align:center;
    div.mime_type{
      text-align:left;
      display:inline-block;
      width:32%;
    }
  }
  
}
