
div.mime_types_index{
  h3{
    font-size:120%;
  }
  font-size:110%;
  
  span.mime_type_discoved_date{
    font-style:italic;
    font-size:90%;
  }
  
  span.mime_type_discovered_by{
    display:block;
    font-size:70%;
  }

  div.integrated{
    display:table;
    div.mime_type{
      vertical-align:middle;
      display:table-cell;
      text-align:left;
      display:inline-block;
      width:48%;
      margin:0.5%;
    }
  }
  
}
