@import "libs/bundled-material.min.css.scss";

.container{
  max-width:1000px;
  background-color:white;
  padding:0;
  padding-bottom:1em;
}

.home_header{
  vertical-align:middle;
  text-align:center;
  padding:1em  0em;
  color:#d9534f;
  margin:0;
  *{
    font-family:courier;
    font-weight:bold;
  }
}

.home_content{
  padding:1em;
}

.links{
  font-size:130%;
}

div.site_content_editor{
  div#editor{
    height:500px;
    width:100%;
  }
}

div.site_content_preview{
  width:1000px;
  max_width:1000px;
}

div#site_content_preview_value{
  border:1px dotted black;
  padding:0;
  margin:1em;
}
