<div class="footer_menu panel panel-default" >
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <%= link_to "Admin menu", admin_menu_path %>
        
        <%= link_to "Contact", g_plus_url, :target => "_blank" %>
      </div>
    </div>
  </div>   
</div>
