<div class="footer_menu panel panel-default" >
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <a href="https://admin.anyfile-notepad.semaan.ca">Administration</a>
        
        <a href="https://plus.google.com/communities/109168786116242892967">Contact</a>
      </div>
    </div>
  </div>   
</div>
