<div class="footer_menu panel panel-default" >
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <a href="https://admin.anyfile-notepad.semaan.ca">Administration</a>
        
        <a href="/site/privacy_policy.html">Privacy Policy</a>
        <a href="/site/terms-of-service.html">Terms of service</a>

        <a href="/site/contact.html">Contact</a>
      </div>
    </div>
  </div>   
</div>
