<script>
  $(function(){
      var m = new MDRenderer({
        url : getQueryParam("test") ? 'https://pages.anyfile-notepad.semaan.ca/[% PAGE_KEY %].test.markdown' : 'https://pages.anyfile-notepad.semaan.ca/[% PAGE_KEY %].markdown', 
        columns : [% COLUMNS %],
        destination : '.home_content',
      });
  });
</script>
