#flash .alert {
  text-align:center;
}

.error {
  font-weight:bold;
  color:red;
}

.top-buffer{
    margin-top:10px;
}

.object-table tr td:nth-child(2){
    width: 150px;
}

.object-table tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}

.form-error-container {
  padding:5px;
}

.form-error {
  margin:5px;
}

.login-saved {
  text-align:center;
  font-size:90%;
}

.logout {
  font-style:italic;
}

.login-action {
  text-align:center;
}

.logged-in-user {
  display:block;
  font-weight:bold;
}

.animated-alerts {
  -webkit-transition:1s linear all;
  transition:1s linear all;
}

.index-row {
  margin-bottom:5px;
}

.animated-alerts.ng-enter, .animated-alerts.ng-leave.ng-leave-active {
  max-height:0;
  opacity:0;
}

.animated-alerts.ng-enter.ng-enter-active, .animated-alerts.ng-leave {
  max-height: 100px;
  opacity:1;
}

